
.container {
  padding: 0 0.5rem;
  min-height: calc(100vh - 4rem);
  // justify-content: center;
  // align-items: center;
}

.banner {
  width: 100%;
  height: 100%;
}

.children {
  padding-top: 3rem;
  justify-items: center;
}

.navMobile {
  align-items: center;
  &Title {
    justify-self: center;
    color: #000;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.075rem;
  }
  &Icon {
    padding-left: 1rem;
    padding-bottom: 1rem;
    padding-top: 1rem;
    flex: 1
  }
  &Right {
    flex: 1
  }
  display: flex;
  height: 3rem;
}

.title {
  color: #000;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 3rem;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: 0.15rem;

}

.description {
  display: flex;
  justify-content: center;
  color: #000;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.justifySelfCenter {
  justify-self: center;
}

.date {
  border-right: 1px solid black;
  padding-right: 5rem;
}

.location {
  padding-left: 5rem;
}

.headerDescriptionTemp {
  text-align: center;
  &Header {
      color: #000;
      font-size: 1.5rem;
      padding: 2rem;
      font-style: normal;
      font-weight: 300;
      line-height: normal;
      letter-spacing: 0.075rem;
  }

  &Text {
      color: #000;
      font-size: 1rem;
      font-style: normal;
      font-weight: 300;
      line-height: normal;
      letter-spacing: 0.05rem;
      text-align: left;
  }

  &Subheader {
    color: #000;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.0625rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
  }

  &FAQ {
    text-align: unset;
  }
}

.headerDescription {
  text-align: center !important;
  &Header {
      color: #000;
      font-size: 1.5rem;
      padding: 2rem;
      font-style: normal;
      font-weight: 300;
      line-height: normal;
      letter-spacing: 0.075rem;
  }

  &Text {
      color: #000;
      font-size: 1rem;
      font-style: normal;
      font-weight: 300;
      line-height: normal;
      letter-spacing: 0.05rem;
      text-align: left;
  }

  &Subheader {
    color: #000;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.0625rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
  }

  &FAQ {
    text-align: unset;
  }
}

.infoContainer {
  margin-top: 3rem !important;

  &Item {
      display: flex;
      flex-wrap: wrap;
      &  * p {
        margin: 0;
      }
  
      &Main {
          display: flex;
          flex-direction: column;
          flex-basis: 25rem;
          color: #000;
          text-align: center;
          font-size: 1.5rem;
          font-style: normal;
          font-weight: 300;
          line-height: 2.125rem; /* 141.667% */

          & > .subtitle {
              color: #000;
              font-size: 1.25rem;
              font-style: normal;
              font-weight: 300;
              line-height: 2.125rem;
          }
      }
      &Details {
          display: flex;
          flex-basis: 25rem;
          color: #000;
          font-size: 0.875rem;
          font-style: normal;
          font-weight: 300;
          line-height: normal;
          letter-spacing: 0.04375rem;
          padding-left: 4rem;
      }
  }
}

.itemDetail {
  text-align: left;
  padding-right: 5rem;
}

.detailButton {
  margin: 1rem !important;
}

.registryButton {
  margin: 2rem !important;
}

.justifyContentCenter {
  justify-content: center;
}

.paragraphSpacing {
  margin-top: 2rem;
}

