.personInfo {
   align-items: center;
}

.name {
    color: #000;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    justify-self: center;
}

.description {
    color: #000;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    justify-self: center;
    align-self: start;

}

.description {
    color: #000;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.gap {
    gap: 1rem;
}